
.save, .saved, .delete {
  color: #ffffff;
  border: none;
  max-width: 100px;
  max-height: 50px;
  min-width: 100px;
  min-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
}

.save, .saved {
  background-color: #0E4394;
}

.saved {
  opacity: 0.5;
}

.delete {
  background-color: #CD2813;
}
